<div class="alert alert-success reserve-button" ng-show="successful" ng-click="successful = false;">
    Delete was successful
</div>

<div class="container">
    <div>Name: {{user.fname}} {{user.lname}}
        <div ng-disabled="accountGridOptions.selectedItems.length < 1"
             class="btn btn-danger remove-reservation-button"
             ng-click="deleteReservations()"
             style="float: right; margin-top: 3px">Remove Reservations</div>
    </div>
    <div>Email: {{user.email}}</div>

    <div ng-grid="accountGridOptions"></div>
</div>