<div class="wrap1">
		<div id="content"><img src="image/backgroudtop.png" width="100%" height="100%" />
		  <div class="title">Your Flight Planner</div>
			<div id="flightsearch">
				<form id="searchform" action="#" method="post">

					<div class="radio"><input type="radio" name="name1" />
  					<span>Round trip</span>
          			</div>
					<div class="radio"><input type="radio" name="name1">
  					<span>One way</span>
           			</div>
					<div class="radio"><input type="radio" name="name1">
  					<span>Multiple destinations</span>
           			</div>


          			<div class="field">
						<label for="flight-from">Flying from:</label>
                		<input type="text" id="flight-from"  class="input-text" placeholder="City name" autocomplete="off" />
           			</div>
					<div class="field">
						<label for="flight-to">Flying to:</label>
                		<input type="text" id="flight-to" class="input-text" placeholder="City name" autocomplete="off">
            		</div>
		    		<div class="field half">
						<label for="flight-depart">Depart:</label>
                		<input type="date" id="flight-depart" name="csserdate"class="input-text input-cal" placeholder="09/15/2014" autocomplete="off">
            		</div>
					<div class="field half even">
						<label for"flight-return">Return:</label>
                		<input type="date" id="flight-return" name="csserdate"class="input-text input-cal" placeholder="09/15/2014" autocomplete="off">
            		</div>

<!--<div class="field">
<div class="radio"><input type="radio" name="name2" checked>Economy cabin</div>
<div class="radio end"><input type="radio" name="name2">Business</div>
</div>-->

		     		<div class="field half">
						<label for="flight-passengers">Passengers:</label>
						<select id="flight-passengers">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
						</select>
					</div>

					<button type="submit" class="search">Search</button>						

				</form>
			</div>
		</div>
	</div>
