<div id="wrapper">
	<div id="Logintitle" style="font-family:'Comic Sans MS', cursive; font-size: 26px; color: #3c445e;">Login</div>
	<div id="LoginForm">
		<form id="loginform" action="" method="post" onsubmit="return validateForm(this)">
		
		<label class="Loginlabel" for="username">User Name:</label>
		<input type="text" class="username"  placeholder="enter your username" />
		<br>
		<label class="Loginlabel" for="password">Password:</label>
		<input type="password" class="password"  placeholder="enter your password" />
		<br>
		
		<p class="secondary">
			<a href="Retrievepassword.html">Forgot your password?</a>
			<br>
		</p>
		
		<button type="submit" class="loginbutton">Login</button>		
		<br class="clear" />	
		
		
		</form>
	</div>
</div>
