<div class="wrap3">
	<div class="InfoTitle">Create an Account</div>
	<div id="RegisterForm">
		<form id="registerform" action="" method="post">
			<label class="Registerlabel" for="firstname">First Name:</label>
			<input type="text" class="firstname" placeholder="enter your first name"/>
			<br>
			<label class="Registerlabel" for="lastname">Last Name:</label>
			<input type="text" class="lastname"  placeholder="enter your last name"/>
			<br>
			<label class="Registerlabel" for="email">Email:</label>
			<input type="text" class="email"  placeholder="enter your email(used to login)"/>
			<br>
			<label class="Registerlabel" for="password">Password</label>
			<input type="password" class="password"  placeholder="create your password(8-20 characters)" />
			<br>
			<label class="Registerlabel" for="password">Confirm Password</label>
			<input type="password" class="password" placeholder="enter your password again" />
			<br>
			<button type="submit" class="button" id="registerbutton">Create Account</button>		
			<br class="clear" />
		</form>
	</div>
</div>
