        
<div class="wrap9">
	<div class="SuggestionTitle1">More Suggestions for Dallas Travelers</div>
    <div class="suggestion">
		<div class="SuggestionTitle2">Top Deals for Hotels</div>
		<div class="suggestionInner">
			<div class="HotelInfo">
            	<div class="namewrap">Hotel Zaza</div>
				<div class="img"><img src="image/hotel_Dallas_Hotel Zaza.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.hotelzaza.com/#dallas" target="_blank"> per night from: $275</a></div>
                </div>
            </div>
		    
			 <div class="HotelInfo">
            	<div class="namewrap">The Joule Hotel</div>
				<div class="img"><img src="image/hotel_Dallas_The Joule Hotel.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.thejouledallas.com/" target="_blank"> per night from:$260</a></div>
                </div>
            </div>
            
       		<div class="HotelInfo">
            	<div class="namewrap">The Adolphus</div>
				<div class="img"><img src="image/hotel_Dallas_The Adolphus.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.hoteladolphus.com/" target="_blank"> per night from:$149</a></div>
                </div>
            </div>
            
            <div class="HotelInfo">
            	<div class="namewrap">Aloft Dallas Downtown</div>
				<div class="img"><img src="image/hotel_Dallas_Aloft Dallas Downtown.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/3star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.aloftdallasdowntown.com/" target="_blank"> per night from:$147</a></div>
                </div>
            </div>
		
		</div>
    </div>	
    
    
        <div class="suggestion">
		<div class="SuggestionTitle2">Top Deals for Restaurants</div>
		<div class="suggestionInner">
			<div class="HotelInfo">
            	<div class="namewrap">Pappas Bros. Steakhouse</div>
				<div class="img"><img src="image/food_Dallas_Pappas Bros. Steakhouse.jpg"></div>
                <div class="price">
                	<div class="price_title1"><a href="http://pappasbros.com/home/" target="_blank">Price range: $30 - $80</a></div>
                </div>
            </div>
		    
			 <div class="HotelInfo">
            	<div class="namewrap">The French Room</div>
				<div class="img"><img src="image/food_Dallas_The French Room.jpg"></div>
                <div class="price">
                	<div class="price_title1"><a href="http://www.hoteladolphus.com/dining/the-french-room" target="_blank">Price range: $41 - $95</a></div>
                </div>
            </div>
            
       		<div class="HotelInfo">
            	<div class="namewrap">Baboush</div>
				<div class="img"><img src="image/food_Dallas_Baboush.jpg"></div>
                <div class="price">
                	<div class="price_title1"><a href="http://www.baboushdallas.com/" target="_blank">Price range: $20 - $30</a></div>
                </div>
            </div>
            
            <div class="HotelInfo">
            	<div class="namewrap" id="namewrap1">Malai Thai-Vietnamese Kitchen</div>
				<div class="img"><img src="image/food_Dallas_Malai Thai-Vietnamese Kitchen.jpg"></div>
                <div class="price">
                	<div class="price_title1"><a href="http://www.malaikitchen.com/" target="_blank">Price range: $20 - $40</a></div>
                </div>
            </div>
		
		</div>
    </div>	
    
	
    <div class="suggestion">
		<div class="SuggestionTitle2">Top Deals for Rental Cars</div>
		<div class="suggestionInner">
			<div class="HotelInfo">
            	<div class="namewrap">Alamo</div>
				<div class="img"><img src="image/car_Alamo.png"></div>
                <div class="price">
                	<div class="price_title1"><a href="
https://www.alamo.com/en_US/car-rental/locations/location-details/US/DFWT71-dallas-ft-worth-airport.html
" target="_blank">Standard starting at $14.96 /Day</a></div>
                </div>
            </div>
		    
			 <div class="HotelInfo">
            	<div class="namewrap">Enterprise</div>
				<div class="img"><img src="image/car_enterprise.jpg"></div>
                <div class="price">
                	<div class="price_title1"><a href="http://www.enterprise.com/car_rental/deeplinkmap.do?gpbr=09Y1&bid=004&cnty=US" target="_blank">Standard Starting at $ 18.61 /day</a></div>
                </div>
            </div>
            
       		<div class="HotelInfo">
            	<div class="namewrap">AVIS</div>
				<div class="img"><img src="image/car_AVIS.png"></div>
                <div class="price">
                	<div class="price_title1"><a href="http://www.avis.com/car-rental/html/landing/dfw-rental.html" target="_blank">Standard starting at $20.00 /day</a></div>
                </div>
            </div>
            
            <div class="HotelInfo">
            	<div class="namewrap">Thrifty</div>
				<div class="img"><img src="image/car_Thrifty.jpg"></div>
                <div class="price">
                	<div class="price_title1"><a href="http://www.thrifty.com/local_sites_index/LocalPages/DallasFW-Car-Rental.aspx?PickupLocationCode=DFW" target="_blank">Standard Starting at $22.80 /day</a></div>
                </div>
            </div>
		
		</div>
    </div>	
    
    
    
	</div>
