
        
<div class="wrap9">
	<div class="SuggestionTitle1">More Suggestions for New York City Travelers</div>
    <div class="suggestion">
		<div class="SuggestionTitle2">Top Deals for Hotels</div>
		<div class="suggestionInner">
			<div class="HotelInfo">
            	<div class="namewrap">The Plaza Hotel</div>
				<div class="img"><img src="image/hotel_New York_The Plaza Hotel.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/5star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.theplazany.com/" target="_blank"> per night from: $775</a></div>
                </div>
            </div>
		    
			 <div class="HotelInfo">
            	<div class="namewrap">The library Hotel</div>
				<div class="img"><img src="image/hotel_New York_The library Hotel.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.libraryhotel.com/" target="_blank"> per night from:$319</a></div>
                </div>
            </div>
            
       		<div class="HotelInfo">
            	<div class="namewrap">The Empire Hotel</div>
				<div class="img"><img src="image/hotel_New York_The Empire Hotel.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.empirehotelnyc.com/" target="_blank"> per night from:$179</a></div>
                </div>
            </div>
            
            <div class="HotelInfo">
            	<div class="namewrap">The Hotel At Times Square</div>
				<div class="img"><img src="image/hotel_New York_The Hotel At Times Square.jpg"	></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/3star.png" />
                	</div>
                	<div class="price_title"><a href="http://applecorehotels.com/the-hotel-at-times-square/" target="_blank">per night from:$139</a></div>
                </div>
            </div>
		
		</div>
    </div>	
    
    
        <div class="suggestion">
		<div class="SuggestionTitle2">Top Deals for Restaurants</div>
		<div class="suggestionInner">
			<div class="HotelInfo">
            	<div class="namewrap">St Regis</div>
				<div class="img"><img src="image/hotel_Atlanta_St Regis.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/5star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.stregisatlanta.com/" target="_blank"> per night from: $452</a></div>
                </div>
            </div>
		    
			 <div class="HotelInfo">
            	<div class="namewrap">The Westin</div>
				<div class="img"><img src="image/hotel_Atlanta_The Westin.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.westinpeachtreeplazaatlanta.com/" target="_blank"> per night from:$149</a></div>
                </div>
            </div>
            
       		<div class="HotelInfo">
            	<div class="namewrap">The Georgian Terrace</div>
				<div class="img"><img src="image/hotel_Atlanta_The Georgian Terrace.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.thegeorgianterrace.com/" target="_blank"> per night from:$119</a></div>
                </div>
            </div>
            
            <div class="HotelInfo">
            	<div class="namewrap">Marriott Marquis</div>
				<div class="img"><img src="image/hotel_Atlanta_Marriott Marquis.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.marriott.com/hotels/travel/atlmq-atlanta-marriott-marquis/" target="_blank"> per night from:$144</a></div>
                </div>
            </div>
		
		</div>
    </div>	
    
	
    <div class="suggestion">
		<div class="SuggestionTitle2">Top Deals for Rental Cars</div>
		<div class="suggestionInner">
			<div class="HotelInfo">
            	<div class="namewrap">St Regis</div>
				<div class="img"><img src="image/hotel_Atlanta_St Regis.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/5star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.stregisatlanta.com/" target="_blank"> per night from: $452</a></div>
                </div>
            </div>
		    
			 <div class="HotelInfo">
            	<div class="namewrap">The Westin</div>
				<div class="img"><img src="image/hotel_Atlanta_The Westin.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.westinpeachtreeplazaatlanta.com/" target="_blank"> per night from:$149</a></div>
                </div>
            </div>
            
       		<div class="HotelInfo">
            	<div class="namewrap">The Georgian Terrace</div>
				<div class="img"><img src="image/hotel_Atlanta_The Georgian Terrace.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.thegeorgianterrace.com/" target="_blank"> per night from:$119</a></div>
                </div>
            </div>
            
            <div class="HotelInfo">
            	<div class="namewrap">Marriott Marquis</div>
				<div class="img"><img src="image/hotel_Atlanta_Marriott Marquis.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.marriott.com/hotels/travel/atlmq-atlanta-marriott-marquis/" target="_blank"> per night from:$144</a></div>
                </div>
            </div>
		
		</div>
    </div>	
    
    
    
	</div>

