
        
<div class="wrap9">
	<div class="SuggestionTitle1">More Suggestions for Chicago Travelers</div>
    <div class="suggestion">
		<div class="SuggestionTitle2">Top Deals for Hotels</div>
		<div class="suggestionInner">
			<div class="HotelInfo">
            	<div class="namewrap">Hilton Garden Inn</div>
				<div class="img"><img src="image/hotel_Chicago_Hilton Garden Inn.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/3star.png" />
                	</div>
                	<div class="price_title"><a href="http://hiltongardeninn3.hilton.com/en/hotels/illinois/hilton-garden-inn-chicago-downtown-magnificent-mile-CHIDNGI/index.html" target="_blank"> per night from: $249</a></div>
                </div>
            </div>
		    
			 <div class="HotelInfo">
            	<div class="namewrap">The Drake</div>
				<div class="img"><img src="image/hotel_Chicago_ The Drake.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.thedrakehotel.com/" target="_blank"> per night from:$229</a></div>
                </div>
            </div>
            
       		<div class="HotelInfo">
            	<div class="namewrap">Trump International Hotel </div>
				<div class="img"><img src="image/hotel_Chicago_Trump International Hotel.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/5star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.trumphotelcollection.com/chicago/" target="_blank"> per night from:$445</a></div>
                </div>
            </div>
            
            <div class="HotelInfo">
            	<div class="namewrap"> Omni Chicago Hotel</div>
				<div class="img"><img src="image/hotel_Atlanta_Marriott Marquis.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.omnihotels.com/hotels/chicago" target="_blank"> per night from:$379</a></div>
                </div>
            </div>
		
		</div>
    </div>	
    
    
        <div class="suggestion">
		<div class="SuggestionTitle2">Top Deals for Restaurants</div>
		<div class="suggestionInner">
			<div class="HotelInfo">
            	<div class="namewrap">St Regis</div>
				<div class="img"><img src="image/hotel_Atlanta_St Regis.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/5star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.stregisatlanta.com/" target="_blank"> per night from: $452</a></div>
                </div>
            </div>
		    
			 <div class="HotelInfo">
            	<div class="namewrap">The Westin</div>
				<div class="img"><img src="image/hotel_Atlanta_The Westin.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.westinpeachtreeplazaatlanta.com/" target="_blank"> per night from:$149</a></div>
                </div>
            </div>
            
       		<div class="HotelInfo">
            	<div class="namewrap">The Georgian Terrace</div>
				<div class="img"><img src="image/hotel_Atlanta_The Georgian Terrace.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.thegeorgianterrace.com/" target="_blank"> per night from:$119</a></div>
                </div>
            </div>
            
            <div class="HotelInfo">
            	<div class="namewrap">Marriott Marquis</div>
				<div class="img"><img src="image/hotel_Atlanta_Marriott Marquis.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.marriott.com/hotels/travel/atlmq-atlanta-marriott-marquis/" target="_blank"> per night from:$144</a></div>
                </div>
            </div>
		
		</div>
    </div>	
    
	
    <div class="suggestion">
		<div class="SuggestionTitle2">Top Deals for Rental Cars</div>
		<div class="suggestionInner">
			<div class="HotelInfo">
            	<div class="namewrap">St Regis</div>
				<div class="img"><img src="image/hotel_Atlanta_St Regis.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/5star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.stregisatlanta.com/" target="_blank"> per night from: $452</a></div>
                </div>
            </div>
		    
			 <div class="HotelInfo">
            	<div class="namewrap">The Westin</div>
				<div class="img"><img src="image/hotel_Atlanta_The Westin.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.westinpeachtreeplazaatlanta.com/" target="_blank"> per night from:$149</a></div>
                </div>
            </div>
            
       		<div class="HotelInfo">
            	<div class="namewrap">The Georgian Terrace</div>
				<div class="img"><img src="image/hotel_Atlanta_The Georgian Terrace.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.thegeorgianterrace.com/" target="_blank"> per night from:$119</a></div>
                </div>
            </div>
            
            <div class="HotelInfo">
            	<div class="namewrap">Marriott Marquis</div>
				<div class="img"><img src="image/hotel_Atlanta_Marriott Marquis.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.marriott.com/hotels/travel/atlmq-atlanta-marriott-marquis/" target="_blank"> per night from:$144</a></div>
                </div>
            </div>
		
		</div>
    </div>	
    
    
    
	</div>
