
        
<div class="wrap9">
	<div class="SuggestionTitle1">More Suggestions for Atlanta Travelers</div>
    <div class="suggestion">
		<div class="SuggestionTitle2">Top Deals for Hotels</div>
		<div class="suggestionInner">
			<div class="HotelInfo">
            	<div class="namewrap">St Regis</div>
				<div class="img"><img src="image/hotel_Atlanta_St Regis.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/5star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.stregisatlanta.com/" target="_blank"> per night from: $452</a></div>
                </div>
            </div>
		    
			 <div class="HotelInfo">
            	<div class="namewrap">The Westin</div>
				<div class="img"><img src="image/hotel_Atlanta_The Westin.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.westinpeachtreeplazaatlanta.com/" target="_blank"> per night from:$149</a></div>
                </div>
            </div>
            
       		<div class="HotelInfo">
            	<div class="namewrap">The Georgian Terrace</div>
				<div class="img"><img src="image/hotel_Atlanta_The Georgian Terrace.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.thegeorgianterrace.com/" target="_blank"> per night from:$119</a></div>
                </div>
            </div>
            
            <div class="HotelInfo">
            	<div class="namewrap">Marriott Marquis</div>
				<div class="img"><img src="image/hotel_Atlanta_Marriott Marquis.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.marriott.com/hotels/travel/atlmq-atlanta-marriott-marquis/" target="_blank"> per night from:$144</a></div>
                </div>
            </div>
		
		</div>
    </div>	
    
    
        <div class="suggestion">
		<div class="SuggestionTitle2">Top Deals for Restaurants</div>
		<div class="suggestionInner">
			<div class="HotelInfo">
            	<div class="namewrap">Fogo De Chao</div>
				<div class="img"><img src="image/food_Atlanta_Fogo De Chao.jpg"></div>
                <div class="price">
                	<div class="price_title1"><a href="http://www.fogodechao.com/" target="_blank">Price range: $30 - $55</a></div>
                </div>
            </div>
		    
			 <div class="HotelInfo">
            	<div class="namewrap">Tasty China</div>
				<div class="img"><img src="image/food_Atlanta_Tasty China.jpg"></div>
                <div class="price">
                	<div class="price_title1"><a href="http://www.tastychina.net/" target="_blank">Price range: $20 ¨C $35</a></div>
                </div>
            </div>
            
       		<div class="HotelInfo">
            	<div class="namewrap">Canoe</div>
				<div class="img"><img src="image/food_Atlanta_Canoe.jpg"></div>
                <div class="price">
                	<div class="price_title1"><a href="https://www.canoeatl.com/" target="_blank">price range: $31 - $40</a></div>
                </div>
            </div>
            
            <div class="HotelInfo">
            	<div class="namewrap">La Tavola</div>
				<div class="img"><img src="image/food_Atlanta_La Tavola.jpg"></div>
                <div class="price">
                	<div class="price_title1"><a href="http://latavolatrattoria.com/" target="_blank">Price range: $21 - $30</a></div>
                </div>
            </div>
		
		</div>
    </div>	
    
	
   <div class="suggestion">
		<div class="SuggestionTitle2">Top Deals for Rental Cars</div>
		<div class="suggestionInner">
			<div class="HotelInfo">
            	<div class="namewrap">Alamo</div>
				<div class="img"><img src="image/car_Alamo.png"></div>
                <div class="price">
                	<div class="price_title1"><a href="https://www.alamo.com/en_US/car-rental/locations/location-details/US/ORDT71-chicago-ohare-airport.html" target="_blank">Standard starting at $25.13 /Day</a></div>
                </div>
            </div>
		    
			 <div class="HotelInfo">
            	<div class="namewrap">Enterprise</div>
				<div class="img"><img src="image/car_enterprise.jpg"></div>
                <div class="price">
                	<div class="price_title1"><a href="http://www.enterprise.com/car_rental/wls.do?gpbr=15V5" target="_blank">Standard starting at $ 27.94 /day</a></div>
                </div>
            </div>
            
       		<div class="HotelInfo">
            	<div class="namewrap">AVIS</div>
				<div class="img"><img src="image/car_AVIS.png"></div>
                <div class="price">
                	<div class="price_title1"><a href="http://www.avis.com/car-rental/html/landing/ord-rental.html" target="_blank">Standard starting at $23.20 /day</a></div>
                </div>
            </div>
            
            <div class="HotelInfo">
            	<div class="namewrap">Thrifty</div>
				<div class="img"><img src="image/car_Thrifty.jpg"></div>
                <div class="price">
                	<div class="price_title1"><a href="http://www.thrifty.com/local_sites_index/LocalPages/Chicago-Ohare-Car-Rental.aspx?PickupLocationCode=ORD" target="_blank">Standard starting at 16.09 /day</a></div>
                </div>
            </div>
		
		</div>
    </div>	
    
    
    
	</div>

