
<div class="wrap9">
	<div class="SuggestionTitle1">More Suggestions for New York City Travelers</div>
    <div class="suggestion">
		<div class="SuggestionTitle2">Top Deals for Hotels</div>
		<div class="suggestionInner">
			<div class="HotelInfo">
            	<div class="namewrap">The Plaza Hotel</div>
				<div class="img"><img src="image/hotel_New York_The Plaza Hotel.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/5star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.theplazany.com/" target="_blank"> per night from: $775</a></div>
                </div>
            </div>
		    
			 <div class="HotelInfo">
            	<div class="namewrap">The library Hotel</div>
				<div class="img"><img src="image/hotel_New York_The library Hotel.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.libraryhotel.com/" target="_blank"> per night from:$319</a></div>
                </div>
            </div>
            
       		<div class="HotelInfo">
            	<div class="namewrap">The Empire Hotel</div>
				<div class="img"><img src="image/hotel_New York_The Empire Hotel.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.empirehotelnyc.com/" target="_blank"> per night from:$179</a></div>
                </div>
            </div>
            
            <div class="HotelInfo">
            	<div class="namewrap">The Hotel At Times Square</div>
				<div class="img"><img src="image/hotel_New York_The Hotel At Times Square.jpg"	></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/3star.png" />
                	</div>
                	<div class="price_title"><a href="http://applecorehotels.com/the-hotel-at-times-square/" target="_blank">per night from:$139</a></div>
                </div>
            </div>
		
		</div>
    </div>	
    
    
        <div class="suggestion">
		<div class="SuggestionTitle2">Top Deals for Restaurants</div>
		<div class="suggestionInner">
			<div class="HotelInfo">
            	<div class="namewrap">Club A Steakhouse</div>
				<div class="img"><img src="image/food_NewYorkCity_Club A Steakhouse.jpg"></div>
                <div class="price">
                	<div class="price_title1"><a href="http://www.clubasteak.com/" target="_blank">Price range: $11 - $130</a></div>
                </div>
            </div>
		    
			 <div class="HotelInfo">
            	<div class="namewrap">Rafele</div>
				<div class="img"><img src="image/food_NewYorkCity_Rafele.jpg"></div>
                <div class="price">
                	<div class="price_title1"><a href="http://rafele.com/" target="_blank">Price range: $31 - $50</a></div>
                </div>
            </div>
            
       		<div class="HotelInfo">
            	<div class="namewrap">Bouley</div>
				<div class="img"><img src="image/food_NewYorkCity_Bouley.jpg"></div>
                <div class="price">
                	<div class="price_title1"><a href="http://www.davidbouley.com/" target="_blank">Price range: $80 - $100</a></div>
                </div>
            </div>
            
            <div class="HotelInfo">
            	<div class="namewrap">Kristalbelli</div>
				<div class="img"><img src="image/food_NewYorkCity_Kristalbelli.jpg"></div>
                <div class="price">
                	<div class="price_title1"><a href="http://kristalbelli.com/" target="_blank">Price range: $50 - $60</a></div>
                </div>
            </div>
		
		</div>
    </div>	
    
	
<div class="suggestion">
		<div class="SuggestionTitle2">Top Deals for Rental Cars</div>
		<div class="suggestionInner">
			<div class="HotelInfo">
            	<div class="namewrap">Alamo</div>
				<div class="img"><img src="image/car_Alamo.png"></div>
                <div class="price">
                	<div class="price_title1"><a href="https://www.alamo.com/en_US/car-rental/locations/location-details/US/SFOT71-san-francisco-international-airport.html" target="_blank">Standard starting at $30.91 /Day</a></div>
                </div>
            </div>
		    
			 <div class="HotelInfo">
            	<div class="namewrap">Enterprise</div>
				<div class="img"><img src="image/car_enterprise.jpg"></div>
                <div class="price">
                	<div class="price_title1"><a href="http://www.enterprise.com/car_rental/deeplinkmap.do?gpbr=23V9&bid=004&cnty=US" target="_blank">Standard starting at $ 33.53 /day</a></div>
                </div>
            </div>
            
       		<div class="HotelInfo">
            	<div class="namewrap">AVIS</div>
				<div class="img"><img src="image/car_AVIS.png"></div>
                <div class="price">
                	<div class="price_title1"><a href="http://www.avis.com/car-rental/html/landing/sfo-rental.html" target="_blank">Standard starting at $37.60 /day</a></div>
                </div>
            </div>
            
            <div class="HotelInfo">
            	<div class="namewrap">Thrifty</div>
				<div class="img"><img src="image/car_Thrifty.jpg"></div>
                <div class="price">
                	<div class="price_title1"><a href="http://www.thrifty.com/Local/Index.aspx?LocationCode=SFO" target="_blank">Standard starting at $28.96 /day</a></div>
                </div>
            </div>
		
		</div>
    </div>	
    
    
    
	</div>

