
         

        
<div class="wrap9">
	<div class="SuggestionTitle1">More Suggestions for Dallas Travelers</div>
    <div class="suggestion">
		<div class="SuggestionTitle2">Top Deals for Hotels</div>
		<div class="suggestionInner">
			<div class="HotelInfo">
            	<div class="namewrap">Hotel Zaza</div>
				<div class="img"><img src="image/hotel_Dallas_Hotel Zaza.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.hotelzaza.com/#dallas" target="_blank"> per night from: $275</a></div>
                </div>
            </div>
		    
			 <div class="HotelInfo">
            	<div class="namewrap">The Joule Hotel</div>
				<div class="img"><img src="image/hotel_Dallas_The Joule Hotel.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.thejouledallas.com/" target="_blank"> per night from:$260</a></div>
                </div>
            </div>
            
       		<div class="HotelInfo">
            	<div class="namewrap">The Adolphus</div>
				<div class="img"><img src="image/hotel_Dallas_The Adolphus.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.hoteladolphus.com/" target="_blank"> per night from:$149</a></div>
                </div>
            </div>
            
            <div class="HotelInfo">
            	<div class="namewrap">Aloft Dallas Downtown</div>
				<div class="img"><img src="image/hotel_Dallas_Aloft Dallas Downtown.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/3star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.aloftdallasdowntown.com/" target="_blank"> per night from:$147</a></div>
                </div>
            </div>
		
		</div>
    </div>	
    
    
        <div class="suggestion">
		<div class="SuggestionTitle2">Top Deals for Restaurants</div>
		<div class="suggestionInner">
			<div class="HotelInfo">
            	<div class="namewrap">St Regis</div>
				<div class="img"><img src="image/hotel_Atlanta_St Regis.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/5star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.stregisatlanta.com/" target="_blank"> per night from: $452</a></div>
                </div>
            </div>
		    
			 <div class="HotelInfo">
            	<div class="namewrap">The Westin</div>
				<div class="img"><img src="image/hotel_Atlanta_The Westin.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.westinpeachtreeplazaatlanta.com/" target="_blank"> per night from:$149</a></div>
                </div>
            </div>
            
       		<div class="HotelInfo">
            	<div class="namewrap">The Georgian Terrace</div>
				<div class="img"><img src="image/hotel_Atlanta_The Georgian Terrace.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.thegeorgianterrace.com/" target="_blank"> per night from:$119</a></div>
                </div>
            </div>
            
            <div class="HotelInfo">
            	<div class="namewrap">Marriott Marquis</div>
				<div class="img"><img src="image/hotel_Atlanta_Marriott Marquis.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.marriott.com/hotels/travel/atlmq-atlanta-marriott-marquis/" target="_blank"> per night from:$144</a></div>
                </div>
            </div>
		
		</div>
    </div>	
    
	
    <div class="suggestion">
		<div class="SuggestionTitle2">Top Deals for Rental Cars</div>
		<div class="suggestionInner">
			<div class="HotelInfo">
            	<div class="namewrap">St Regis</div>
				<div class="img"><img src="image/hotel_Atlanta_St Regis.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/5star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.stregisatlanta.com/" target="_blank"> per night from: $452</a></div>
                </div>
            </div>
		    
			 <div class="HotelInfo">
            	<div class="namewrap">The Westin</div>
				<div class="img"><img src="image/hotel_Atlanta_The Westin.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.westinpeachtreeplazaatlanta.com/" target="_blank"> per night from:$149</a></div>
                </div>
            </div>
            
       		<div class="HotelInfo">
            	<div class="namewrap">The Georgian Terrace</div>
				<div class="img"><img src="image/hotel_Atlanta_The Georgian Terrace.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.thegeorgianterrace.com/" target="_blank"> per night from:$119</a></div>
                </div>
            </div>
            
            <div class="HotelInfo">
            	<div class="namewrap">Marriott Marquis</div>
				<div class="img"><img src="image/hotel_Atlanta_Marriott Marquis.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.marriott.com/hotels/travel/atlmq-atlanta-marriott-marquis/" target="_blank"> per night from:$144</a></div>
                </div>
            </div>
		
		</div>
    </div>	
    
    
    
	</div>
</div>

