      
<div class="wrap9">
	<div class="SuggestionTitle1">More Suggestions for San Francisco Travelers</div>
    <div class="suggestion">
		<div class="SuggestionTitle2">Top Deals for Hotels</div>
		<div class="suggestionInner">
			<div class="HotelInfo">
            	<div class="namewrap">Fairmont</div>
				<div class="img"><img src="image/hotel_San_Fairmont.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/5star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.fairmont.com/san-francisco/" target="_blank"> per night from: $187</a></div>
                </div>
            </div>
		    
			 <div class="HotelInfo">
            	<div class="namewrap">Palace Hotel</div>
				<div class="img"><img src="image/hotel_SFO_Palace Hotel.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.sfpalace.com/" target="_blank"> per night from:$180</a></div>
                </div>
            </div>
            
       		<div class="HotelInfo">
            	<div class="namewrap">The InterContinental</div>
				<div class="img"><img src="image/hotel_San_The InterContinental San Francisco.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.intercontinentalsanfrancisco.com/" target="_blank"> per night from:$269</a></div>
                </div>
            </div>
            
            <div class="HotelInfo">
            	<div class="namewrap">Hotel Kabuki</div>
				<div class="img"><img src="image/hotel_San_Hotel Kabuki.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/3star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.jdvhotels.com/hotels/california/san-francisco-hotels/hotel-kabuki/" target="_blank"> per night from:$152</a></div>
                </div>
            </div>
		
		</div>
    </div>	
    
    
        <div class="suggestion">
		<div class="SuggestionTitle2">Top Deals for Restaurants</div>
		<div class="suggestionInner">
			<div class="HotelInfo">
            	<div class="namewrap">Umami</div>
				<div class="img"><img src="image/food_San Francisco_Umami.jpg"></div>
                <div class="price">
                	<div class="price_title1"><a href="http://umamisf.com/" target="_blank">Price range: $30 - $40</a></div>
                </div>
            </div>
		    
			 <div class="HotelInfo">
            	<div class="namewrap">Kokkari Estiatorio</div>
				<div class="img"><img src="image/food_San Francisco_Kokkari Estiatorio.jpg"></div>
                <div class="price">
                	<div class="price_title1"><a href="http://www.kokkari.com/home/" target="_blank">Price range: $25 - $80</a></div>
                </div>
            </div>
            
       		<div class="HotelInfo">
            	<div class="namewrap">Restaurant Gary Danko</div>
				<div class="img"><img src="image/food_San Francisco_Restaurant Gary Danko.jpg"></div>
                <div class="price">
                	<div class="price_title1"><a href="http://www.garydanko.com/" target="_blank">Price range: $70 - $100</a></div>
                </div>
            </div>
            
            <div class="HotelInfo">
            	<div class="namewrap">Cavalli Caf¨¦</div>
				<div class="img"><img src="image/food_San Francisco_Cavalli Caf¨¦.jpg"></div>
                <div class="price">
                	<div class="price_title1"><a href="http://cavallicafe.com/" target="_blank">Price: $20 - $30</a></div>
                </div>
            </div>
		
		</div>
    </div>	
    
	
   <div class="suggestion">
		<div class="SuggestionTitle2">Top Deals for Rental Cars</div>
		<div class="suggestionInner">
			<div class="HotelInfo">
            	<div class="namewrap">Alamo</div>
				<div class="img"><img src="image/car_Alamo.png"></div>
                <div class="price">
                	<div class="price_title1"><a href="https://www.alamo.com/en_US/car-rental/locations/location-details/US/ORDT71-chicago-ohare-airport.html" target="_blank">Standard starting at $27.78 /day</a></div>
                </div>
            </div>
		    
			 <div class="HotelInfo">
            	<div class="namewrap">Enterprise</div>
				<div class="img"><img src="image/car_enterprise.jpg"></div>
                <div class="price">
                	<div class="price_title1"><a href="http://www.enterprise.com/car_rental/wls.do?gpbr=15V5" target="_blank">Standard starting at $ 17.92 /day</a></div>
                </div>
            </div>
            
       		<div class="HotelInfo">
            	<div class="namewrap">AVIS</div>
				<div class="img"><img src="image/car_AVIS.png"></div>
                <div class="price">
                	<div class="price_title1"><a href="http://www.avis.com/car-rental/html/landing/ord-rental.html" target="_blank">Standard starting at $24.80 /day</a></div>
                </div>
            </div>
            
            <div class="HotelInfo">
            	<div class="namewrap">Thrifty</div>
				<div class="img"><img src="image/car_Thrifty.jpg"></div>
                <div class="price">
                	<div class="price_title1"><a href="http://www.thrifty.com/local_sites_index/LocalPages/Chicago-Ohare-Car-Rental.aspx?PickupLocationCode=ORD" target="_blank">Standard starting at 16.09 /day</a></div>
                </div>
            </div>
		
		</div>
    </div>	
    
    
	</div>

