


		    
		
        
<div class="wrap9">
	<div class="SuggestionTitle1">More Suggestions for San Francisco Travelers</div>
    <div class="suggestion">
		<div class="SuggestionTitle2">Top Deals for Hotels</div>
		<div class="suggestionInner">
			<div class="HotelInfo">
            	<div class="namewrap">Fairmont</div>
				<div class="img"><img src="image/hotel_San_Fairmont.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/5star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.fairmont.com/san-francisco/" target="_blank"> per night from: $187</a></div>
                </div>
            </div>
		    
			 <div class="HotelInfo">
            	<div class="namewrap">Palace Hotel</div>
				<div class="img"><img src="image/hotel_SFO_Palace Hotel.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.sfpalace.com/" target="_blank"> per night from:$180</a></div>
                </div>
            </div>
            
       		<div class="HotelInfo">
            	<div class="namewrap">The InterContinental</div>
				<div class="img"><img src="image/hotel_San_The InterContinental San Francisco.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.intercontinentalsanfrancisco.com/" target="_blank"> per night from:$269</a></div>
                </div>
            </div>
            
            <div class="HotelInfo">
            	<div class="namewrap">Hotel Kabuki</div>
				<div class="img"><img src="image/hotel_San_Hotel Kabuki.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/3star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.jdvhotels.com/hotels/california/san-francisco-hotels/hotel-kabuki/" target="_blank"> per night from:$152</a></div>
                </div>
            </div>
		
		</div>
    </div>	
    
    
        <div class="suggestion">
		<div class="SuggestionTitle2">Top Deals for Restaurants</div>
		<div class="suggestionInner">
			<div class="HotelInfo">
            	<div class="namewrap">St Regis</div>
				<div class="img"><img src="image/hotel_Atlanta_St Regis.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/5star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.stregisatlanta.com/" target="_blank"> per night from: $452</a></div>
                </div>
            </div>
		    
			 <div class="HotelInfo">
            	<div class="namewrap">The Westin</div>
				<div class="img"><img src="image/hotel_Atlanta_The Westin.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.westinpeachtreeplazaatlanta.com/" target="_blank"> per night from:$149</a></div>
                </div>
            </div>
            
       		<div class="HotelInfo">
            	<div class="namewrap">The Georgian Terrace</div>
				<div class="img"><img src="image/hotel_Atlanta_The Georgian Terrace.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.thegeorgianterrace.com/" target="_blank"> per night from:$119</a></div>
                </div>
            </div>
            
            <div class="HotelInfo">
            	<div class="namewrap">Marriott Marquis</div>
				<div class="img"><img src="image/hotel_Atlanta_Marriott Marquis.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.marriott.com/hotels/travel/atlmq-atlanta-marriott-marquis/" target="_blank"> per night from:$144</a></div>
                </div>
            </div>
		
		</div>
    </div>	
    
	
    <div class="suggestion">
		<div class="SuggestionTitle2">Top Deals for Rental Cars</div>
		<div class="suggestionInner">
			<div class="HotelInfo">
            	<div class="namewrap">St Regis</div>
				<div class="img"><img src="image/hotel_Atlanta_St Regis.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/5star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.stregisatlanta.com/" target="_blank"> per night from: $452</a></div>
                </div>
            </div>
		    
			 <div class="HotelInfo">
            	<div class="namewrap">The Westin</div>
				<div class="img"><img src="image/hotel_Atlanta_The Westin.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.westinpeachtreeplazaatlanta.com/" target="_blank"> per night from:$149</a></div>
                </div>
            </div>
            
       		<div class="HotelInfo">
            	<div class="namewrap">The Georgian Terrace</div>
				<div class="img"><img src="image/hotel_Atlanta_The Georgian Terrace.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.thegeorgianterrace.com/" target="_blank"> per night from:$119</a></div>
                </div>
            </div>
            
            <div class="HotelInfo">
            	<div class="namewrap">Marriott Marquis</div>
				<div class="img"><img src="image/hotel_Atlanta_Marriott Marquis.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.marriott.com/hotels/travel/atlmq-atlanta-marriott-marquis/" target="_blank"> per night from:$144</a></div>
                </div>
            </div>
		
		</div>
    </div>	
    
    
    
	</div>


