        
<div class="wrap9">
	<div class="SuggestionTitle1">More Suggestions for Chicago Travelers</div>
    <div class="suggestion">
<!--Hotel suggestions-->    
		<div class="SuggestionTitle2">Top Deals for Hotels</div>
		<div class="suggestionInner">
        
			<div class="HotelInfo">
            	<div class="namewrap">Hilton Garden Inn</div>
				<div class="img"><img src="image/hotel_Chicago_Hilton Garden Inn.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/3star.png" />
                	</div>
                	<div class="price_title"><a href="http://hiltongardeninn3.hilton.com/en/hotels/illinois/hilton-garden-inn-chicago-downtown-magnificent-mile-CHIDNGI/index.html" target="_blank"> per night from: $249</a></div>
                </div>
            </div>
		    
			 <div class="HotelInfo">
            	<div class="namewrap">The Drake</div>
				<div class="img"><img src="image/hotel_Chicago_ The Drake.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.thedrakehotel.com/" target="_blank"> per night from:$229</a></div>
                </div>
            </div>
            
       		<div class="HotelInfo">
            	<div class="namewrap">Trump International Hotel </div>
				<div class="img"><img src="image/hotel_Chicago_Trump International Hotel.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/5star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.trumphotelcollection.com/chicago/" target="_blank"> per night from:$445</a></div>
                </div>
            </div>
            
            <div class="HotelInfo">
            	<div class="namewrap"> Omni Chicago Hotel</div>
				<div class="img"><img src="image/hotel_Atlanta_Marriott Marquis.jpg"></div>
                <div class="price">
                	<div class="rate">
                		<img src="image/4star.png" />
                	</div>
                	<div class="price_title"><a href="http://www.omnihotels.com/hotels/chicago" target="_blank"> per night from:$379</a></div>
                </div>
            </div>
		
		</div>
    </div>	
    
<!--Restaurants suggestions-->    
        <div class="suggestion">
		<div class="SuggestionTitle2">Top Deals for Restaurants</div>
		<div class="suggestionInner">
			<div class="HotelInfo">
            	<div class="namewrap">Polo Cafe</div>
				<div class="img"><img src="image/food_Chicago_Polo Cafe.jpg"></div>
                <div class="price">
                	<div class="price_title1"><a href="http://www.polocafe.com/" target="_blank">Price range: $4 - $35</a></div>
                </div>
            </div>
		    
			 <div class="HotelInfo">
            	<div class="namewrap">Bavette's Bar and Boeuf</div>
				<div class="img"><img src="image/food_Chicago_Bavette's Bar and Boeuf.jpg"></div>
                <div class="price">
                	<div class="price_title1"><a href="http://bavetteschicago.com/" target="_blank">Price range: $31 - $50</a></div>
                </div>
            </div>
            
       		<div class="HotelInfo">
            	<div class="namewrap" id="namewrap2">Joe's Seafood, Prime Steak & Stone Crab</div>
				<div class="img"><img src="image/food_Chicago_Joe's Seafood, Prime Steak & Stone Crab.jpg"></div>
                <div class="price">
                	<div class="price_title1"><a href="http://www.joes.net/location/chicago/" target="_blank">Price range: $41 - $80</a></div>
                </div>
            </div>
            
            <div class="HotelInfo">
            	<div class="namewrap">Lou Malnati's Pizzeria</div>
				<div class="img"><img src="image/food_Chicago_Lou Malnati's Pizzeria.jpg"></div>
                <div class="price">
                	<div class="price_title1"><a href="http://www.loumalnatis.com/" target="_blank">Price range: $5 - $20</a></div>
                </div>
            </div>
		
		</div>
    </div>	
    
<!--Rental car suggestions-->	
    <div class="suggestion">
		<div class="SuggestionTitle2">Top Deals for Rental Cars</div>
		<div class="suggestionInner">
			<div class="HotelInfo">
            	<div class="namewrap">Alamo</div>
				<div class="img"><img src="image/car_Alamo.png"></div>
                <div class="price">
                	<div class="price_title1"><a href="https://www.alamo.com/en_US/car-rental/locations/location-details/US/ORDT71-chicago-ohare-airport.html" target="_blank">Standard starting at $27.78 /day</a></div>
                </div>
            </div>
		    
			 <div class="HotelInfo">
            	<div class="namewrap">Enterprise</div>
				<div class="img"><img src="image/car_enterprise.jpg"></div>
                <div class="price">
                	<div class="price_title1"><a href="http://www.enterprise.com/car_rental/wls.do?gpbr=15V5" target="_blank">Standard starting at $ 17.92 /day</a></div>
                </div>
            </div>
            
       		<div class="HotelInfo">
            	<div class="namewrap">AVIS</div>
				<div class="img"><img src="image/car_AVIS.png"></div>
                <div class="price">
                	<div class="price_title1"><a href="http://www.avis.com/car-rental/html/landing/ord-rental.html" target="_blank">Standard starting at $24.80 /day</a></div>
                </div>
            </div>
            
            <div class="HotelInfo">
            	<div class="namewrap">Thrifty</div>
				<div class="img"><img src="image/car_Thrifty.jpg"></div>
                <div class="price">
                	<div class="price_title1"><a href="http://www.thrifty.com/local_sites_index/LocalPages/Chicago-Ohare-Car-Rental.aspx?PickupLocationCode=ORD" target="_blank">Standard starting at 16.09 /day</a></div>
                </div>
            </div>
		
		</div>
    </div>	
    
    
    
	</div>

