<div class="wrap6">
	<div class="passengerInfoTitle">Your Travel Summary
	</div>	
    	<form name="travelsummaryDetails" id="travelsummary_details" action="" method="" onsumit="">
			<div class="pricesummary">
				<div class="pricesummary_left">
					<span class="pricesummary_left_title">
					<b>Price Smmary</b>
					</span>
					<br>
					<span class="pricesummary_left_text">
					Price includes taxes and fees.
					</span>
				</div>
				<div class="pricesummary_right">
					<span class="pricesummary_right_title">Total Trip Price:&nbsp;</span>
					<span class="pricesummary_right_text1">
					<b>$
					<span id="tp1">
						226.03
					</span>
					</b>
					</span>
					<br>
					<span class="pricesummary_right_text2">
					Per Person Price: $
					<span id="pp1">
						226.03
					</span>
					</span>
				</div>
				<div class="clear"></div>
			</div>

 			<div class="travelsummary">		
				<table width="800" cellspacing="1" cellpadding="3" border="0" bordercolor="#FFFF00" style="margin-left:10px;">
					<tbody>
						<tr>
							<td colspan="5" class="flightsummary_table">
								<h4 class="flightsummaryInfo">
								<b><!--for example-->Flight Information-Monday,Oct 13,2015(Arrives Monday, Oct 13)</b>
								</h4>
							</td>
						</tr>
						<tr>
							<td colspan="5" height="1"></td>
						</tr>
        				<!--flight information table which will show which flight the passenger chose-->
        				<tr bgcolor="#CFD7EB">
        					<td class="flightsummary_table_bg">
        						<img src="" alt="Delta Air Line">
        						<br>
        						<span class="flightsummary_table_text">
        						<b>Flight 2000</b>
        						<br>
        						2h 40m, 945mi
        						<br>
        						</span>
        					</td>
         					<td class="flightsummary_table_bg" align="left" valign="top">
            					<span class="flightsummary_table_title">From</span>
                				<span class="flightsummary_table_text">Hartsfield-Jackson Atlanta Intl Airport<b>(ATL)</b>
                				<br>
                				<b>Departs: 5:45 PM</b>
                				<br>
              					</span>
           					</td>
            				<td class="flightsummary_table_bg" align="left" valign="top">    
                				<span class="flightsummary_table_title">To</span>
                				<span class="flightsummary_table_text">John F Kennedy Intl Airport<b>(JFK)</b>
                				<br>
                				<b>Arrives: 9:45 PM</b>
                				<br>
                				</span>
           					</td>
            				<td class="flightsummary_table_bg" valign="top">    
                				<span class="flightsummary_table_title">Aircraft<!--(maybe another name is better)--></span>
                				<span class="flightsummary_table_text">
                				<br>
                				Economy/Coach Class
                				<br>
                				</span>
            				</td>
           				 </tr>
           				 <tr>
            			 <td colspan="4" height="1"></td>
            			 </tr>
            <!--table end. If there are more flight information such as the flight has one stop or two stop, we will need one or more table like above. I dont know if I should make another html page or there are some ways to display it many times.-->
					</tbody>
				</table>  
			</div> 
		<div class="travelsummary_buttonarea"> 

<button type="submit" class="button" id="travelsummary_goback" >Go Back</button>    
<button type="submit" class="button" id="travelsummary_continue" >Countinue Booking</button>
  
</div>             
</form>        
</div>
</div>