@charset "utf-8";
/* CSS Document */

body{
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	margin:0;
	}

.wrapper{
	position:relative;
	overflow:hidden;
	margin:0 auto;
	width:100%;
	height:100%;
	}
	
/*header*/
header{
	display:block;
	width:100%;
    height:60px;
	background:#3c445e; 
	}

.logo{
	padding-top:10px;
	padding-left:10px;
	width:190px;
	height:50px;
	float:left;
	}

.top_nav {
	float:right;
	padding-top:10px;
	padding-right:30px;
	height:50px;
	width:200px;

	}
	
.top_nav li {
	float:left;
	list-style-type:none;
	text-decoration:none;
	padding-right:30px;
	font-family:Verdana, Geneva, sans-serif;
	}
	
ul{
	float:left;
	}
	
.top_nav ul li{
	text-decoration:none;
    }

.top_nav ul li a{
	text-decoration:none;
	color:white;
	font-family:Verdana, Geneva, sans-serif;
	}	
	
.top_nav ul li a:hover{
	color:white;
	background-color:#b18475;
	}

/*nav*/
.nav{
	width:100%;
	background-color:white;
	height:40px;
	border-bottom-style:solid;
	border-bottom-color:#CCC;
	border-bottom-width:1px;
	}
	
.nav ul{
	list-style-type:none;
	margin-left:40%;
	text-decoration:none;
	}
	
.nav ul li{
	float:left;
	border:none;
	background-color:white;
	padding-left:10px;
	padding-right:10px;
	text-decoration:none;
	color: #666;	
	}
	
.nav ul li a{
	text-decoration:none;
	color:#A39481;
	font-family:Verdana, Geneva, sans-serif;
	}

.nav ul li a:hover {
	color:#736a5f;
	background-color:#febd84;
	}

/*homepage*/
.wrap1 { 
    margin:0px;
	height:500px; 
	background:url(../image/backgroud.png) no-repeat;
	position:relative;
	}

#content{
	position:relative;
	left:15%;
	top: 30px;
	width: 900px;
	height: 400px;
	}

.title{
	position:absolute;
	top:80px;
	left:200px;
	color:#FFF;
	font-weight:bold;
	font-size:20px;
	}

#flightsearch{
	position:absolute;
	top:138px;
	left:180px;
	width:700px;
	height:auto;
	
	}

#flightsearch .radio{
	width:220px;
	float:left}
	
#flightsearch .input-cal{ 
	background:#fff url(../image/date1.png) no-repeat 97% 1px; }

label{
	display:block; 
	font-family:Verdana, Geneva, sans-serif;
	color:#ccc;
	font-size:14px; 
	margin:0 0 5px; 
	}
	
#flightsearch  .search{ 
	position:absolute; 
	top:100px; 
	right:98px; 
	margin:0; 
	background:#F59738; 
	color:#fff; 
	font-weight:700; 
	border:0 none; 
	padding:10px 20px; 
	cursor:pointer; 
	border-radius:5px; }
	
#flightsearch  .search:hover{ 
	background:#FAAC5F; }
	
#flightsearch .field{ 
	width:230px;
	margin:0 60px 20px 0;
	float:left; }

#flightsearch .field.half{ 
	width:120px; 
	margin-right:20px; } 

#flightsearch .field.even{ 
	margin-right:80px; } 
	
#flightsearch .field .input-text{ 
	width:260px; }

#flightsearch .field.half .input-text{ 
	width:120px; }
	


/*Loginpage*/
.wrap2{
	width:100%;
	height:600px;
	background:#F5F5FA;
	}
		
#LoginForm{
	position:relative;
	background-color:#FFF;
    border:solid;
	border-width:1px;
	border-color:#CFD7EB;
	border-radius:5px;
	width:860px;
	height:300px;
	left:100px;
	padding-left:2em;
	}	
	
#LoginForm .username{
	width:300px;
	height:30px;
	}

#LoginForm .password{
	width:300px;
	height:30px;
	}

#LoginForm .Loginlabel{
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#333;
	padding-top:20px;
	}

#LoginForm .secondary {
	margin:10px 0;
	font-size: 0.8em;
	line-height: 1.4;
	}
	
#LoginForm a{
	color: #3c445e;
    margin: 0;
	text-decoration:none;
	}

#LoginForm a:hover{
	color: #A39481;
    margin: 0;
	text-decoration:underline;
	}
	
.button{ 
	background:#3c445e; 
	color:#fff; 
	font-weight:700;
	cursor:pointer; 
	border-radius:5px;
	height:40px;
	width:170px; 
	border:0 none; 
	margin-top:60px;
	}
	
.button:hover{
	background:#F59738;}	

/*Registerpage*/
.wrap3{
	width:100%;
	height:800px;
	background:#F5F5FA;
	}

.Registertitle{
	position:relative;
	padding-left:150px;
	padding-top:20px;
	color:#3c445e;}

#RegisterForm{
	position:relative;
	background-color:#FFF;
	width:860px;
	height:500px;
	left:100px;
	padding-left:2em;
	border:solid;
	border-width:1px;
	border-color:#CFD7EB;
	border-radius:5px;

	}

#RegisterForm .firstname{
	width:300px;
	height:30px;
	}

#RegisterForm .lastname{
	width:300px;
	height:30px;
	}

#RegisterForm .email{
	width:300px;
	height:30px;
	}

#RegisterForm .password{
	width:300px;
	height:30px;
	}		

#RegisterForm .Registerlabel{
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#333;
	padding-top:20px;
}



/*flightsearchpage*/
.wrap4{
	width:100%;
	height:auto !important; 
	min-height:800px;
	background:#F5F5FA;
	}

.Searchflight{
	width:100%;
	overflow:hidden;
	margin-top:10px;
	border-top:#CCC;
	border-top-style:solid;
	border-top-width:1px;
	border-bottom:#CCC;
	border-bottom-style:solid;
	border-bottom-width:1px;
	}
	
.Searchform{
	width:100px;
	height: 50px;
	float:left;
	margin-left:100px;
	margin-top:20px;
	}

#flight-from{
	height:25px;
	width:160px;
	}
	
#flight-to{
	height:25px;
	width:160px;
	}

#flight-depart{
	height:27px;
	width:160px;
	}	
	
#flight-return{
	height:27px;
	width:160px;
	}
	
#searchagain{
	width:100px;
	height:30px;  
	background:#F59738; 
	color:#fff; 
	font-weight:700; 
	border:0 none; 
	cursor:pointer;
	border-radius:3px;
	}	
	
#searchagain:hover{
	background:#FAAC5F; 
	}	
	
.aside{
	width:250px;
	overflow:hidden;
	float:left;
	margin-left:100px;
	}
		
.filterlist li{
    list-style-type:none;
	color:#666;
	font-family:Verdana, Geneva, sans-serif;
	
		
	}
		
h3{
	color:#4F617D;}	
	
h4{
	color:#636D87;
	}
	
.resultbg{
	background:#FFF;
	}

.sortNav{
	margin-left:10px;
	margin-top:10px;
	background:#FFF;
	border-color:#CCC;
	border-width:2px;
	border-style:outset;
	border-radius:5px;
	width:630px;
	height:45px;
	float:left;
}
	
#sort{
	width:60px;
	float:left;
	color:#666;}
	
#flightSortBar ul li{
	list-style-type:none;
	text-decoration:none;
	float:left;
	padding-left:20px;
	}	
	
#flightSortBar ul li a{
	text-decoration:none;
	color:#4F617D;
    }

#flightSortBar ul li a:hover{
	color:#C60;
}

.flightReasultList{
	position:absolute;
	background:#FFF;
	top:280px;
	left:360px;
	width:640px;
	height:600px;
	border-color:#CCC;
	border-style:solid;
	border-width:2px;
	border-radius:3px;
	}	
	
.flightInfo{
	padding-top:10px;
	width:640px;
	height:180px;
	float:left;
	}

		
.flightInfo.Left{
	width:100px;
	height:140px;
	margin-left:30px;
	}
	
.flightprice{
	color:#3c445e; 
	font-size:20px;
	padding-top:30px;}

.selectbtn{
	width:75px;
	height:28px;  
	background:#F59738; 
	color:#fff; 
	font-weight:700; 
	border-radius:3px;
	cursor:pointer;
	margin-top:15px;
	
}
	
.selectbtn:hover{
	background:#FAAC5F; 
	}		
	
.flightInfo.Right{
	height:140px;
	width:500px;
	float:left;
	margin-right:10px;
	}
	
	
	
.flightInfoDetail{
	width:500px;
	}	
	
.flightcompany{
	width:100px;
	color:#666;
	float:left;
	margin-left:20px;
	}	
	
#seats{
	float:left;}
	
.day{
	display:block;
	}	

.flightdepart{
	width:120px;
	float:left;
	color:#666;
	}	

.flightreturn{
	width:120px;
	float:left;
	color:#666;
	}	
	
.flightduration{
	width:120px;
	float:left;
	color:#666;
	}	
	
#seats{
	width:90px;
	color:#666;
	}	
	
.seats{
	float:left;
	width:10px;
	color:#666;
	}	
	
.suggestion{
	position:absolute;
	border-style:dashed;
	border-color:#CCC;
	width:154px;
	height:348px;
	left: 1074px;
	top: 280px;
}	

/*passengerinformation*/	
.wrap5{
	width:100%;
	height:600px;
	background:#F5F5FA;

	}
	
.InfoTitle{
	padding-left:100px;
	padding-top:10px;
	padding-bottom:20px;
	font:Verdana, Geneva, sans-serif;
	color: #3c445e;
	font-size:20px;
	font-weight:bolder;
	}
	
#PassengerInfowrap{
	margin-left:100px;
	width:500px;
	height:400px;
	background-color:#FFF;
	border:solid;
	border-width:1px;
	border-color:#CFD7EB;
	border-radius:5px;
	}

.informationlabel{
	color:#333;
	font-size:12px;}

#firstNameFiled{
	float:left;
	padding-top:20px;
	padding-left:20px;
	padding-right:30px;
	}

#lastNameFiled{
	padding-top:20px;
	padding-left:20px;
	}	
	
#genderfield{
	padding-top:20px;
	padding-left:20px;
	}

#birthdayField{
	padding-top:20px;
	padding-left:20px;}

#phonefield{
	padding-top:20px;
	padding-left:20px;
	padding-right:30px;
	float:left;
	}	
	
#emailfield{
	padding-top:20px;
	padding-left:20px;
	}

.buttonfield{
	margin-left:20px;
	}
	
/*travel summary*/
.wrap6{
	position:relative;
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	width:100%;
    	background-color:#F5F5FA;
	min-height:600px;
	height:auto !important;
	}
	
#travelsummary_details{
	margin-left:100px;
	background-color:#FFF;
	border-style:solid;
	border-color:#CFD7EB;
	border-width:1px;
	border-radius:10px;
	width:860px;
	height:450px;
	}		
	
.pricesummary{
	margin:20px 0px 20px 20px;
	width:820px;
	height:60px;
	border-radius:10px;
	border-color:#8997B8;
	border-style:solid;
	border-width:1px;
	}	
	
.pricesummary_left{
	float:left;
	margin:5px 0px 5px 10px;}	

.pricesummary_left_text{
	font:Verdana, Geneva, sans-serif;
	font-size:12px;}	

.pricesummary_right{
	float:right;
	margin:5px 0px 5px 10px; }

.pricesummary_right_title{
	font-size:18px;}
	
.pricesummary_right_text2{
	font-size:14px; }
	
.travelsummary{
	width:820px;
	margin-left:20px;
	background-color:white;
	border-color:#8997B8;
	border-style:solid;
	border-width:1px;
	border-radius:10px;
	}		

td{
	font-size:12px;}
	
.flightsummary_table_title{
	display:block;}


.button{ 
	background:#3c445e; 
	color:#fff; 
	font-weight:700;
	cursor:pointer; 
	border-radius:5px;
	height:40px;
	width:170px; 
	border:0 none; 
	margin-top:60px;
	margin-left:20px;
	}
	
.button:hover{
	background:#F59738;}	

.clear{
	margin:0px;
	padding:0px;
	clear:both;
	}
    

/*confirmnumber*/
.wrap7{
	width:100%;
	height:600px;
	background:#F5F5FA;
	}
	
.ticketinfo{
	margin-left:100px;
	background-color:#FFF;
	border-style:solid;
	border-color:#CFD7EB;
	border-width:1px;
	border-radius:10px;
	width:860px;
	height:400px;}
	
.ticketinfo_top{
	margin-left:20px;}
	
.ticketinfo_detail{
	margin-left:20px;}	
		
	
/*#footer { 
	height:30px; 
	background:#ffffff;
	}
*/	

