@charset "utf-8";
/* CSS Document */

body {
	font-family:"Comic Sans MS", cursive;
	font-size:14px;
	margin:0;
	color: #CCC;
	}

header{
	width:100%;
	overflow:hidden;
    height:100px;
	background:#3c445e; 
	}

header img{
	position:absolute;
	top:13px;
	left:26px;
	z-index:10px;
}

header .top_nav {
	position:absolute;
	left:997px;
	top:11px;
	margin:5px;
	padding:5px;
	overflow:hidden;
	width: 246px;
	}
	
header .top_nav li {
	float:left;
	padding-right:30px;
	list-style-type:none;
	text-decoration:none;
	margin-right:20px; 
	padding-top:2px;
	padding-bottom:3px;
	font-family: 'Open Sans', sans-serif;
	}
	
header .top_nav ul li{
	text-decoration:none;
    }


header .top_nav ul li a{
	text-decoration:none;
	color:white;
	font-family:"Comic Sans MS", cursive;
	}	
	
header .top_nav ul li a:hover{
	color:white;
	background-color:#b18475;
	}




.nav{
	margin:0 auto;
	position:absolute;
	top:66px;
	width:100%;
	background-color:white;
	left: 0px;
	height: 41px;
	}
	
.nav ul{
	list-style-type:none;
	margin-left:40%;
	padding:0px;
	text-decoration:none;
	}
	
.nav ul li{
	float:left;
	border:none;
	background-color:white;
	padding-left:10px;
	padding-right:10px;
	text-decoration:none;
	color: #666;	
	}
	
.nav ul li a{
	text-decoration:none;
	color:#A39481;
	font-family:"Comic Sans MS", cursive;
	}

.nav ul li a:hover {
	color:#736a5f;
	background-color:#febd84;
	}

#content{
	position:absolute;
	z-index:10px;
	left:130px;
	top:140px;
	width: 1220px;
	height: 600px;
	}

/*#menu li {
	float:left;
	padding-right:30px;
	list-style:none;
	margin-right:20px; 
	padding-top:2px;
	padding-bottom:3px}	*/

#mainContent { 
	height:500px; 
	background:url(../image/backgroud.png) no-repeat;
	margin-bottom:50px;
	background-position: 100% 100%;
	z-index:8px;
	}

.title{
	position:absolute;
	top:160px;
	left:362px;
	color:#FFF;
	z-index:20px;
	font-family:"Comic Sans MS", cursive;
	height: 68px;
	}	
	
#flightsearch{
	position:absolute;
	top:240px;
	left:370px;
	width:700px;
	height:auto;
	
	}

#flightsearch .radio{
	width:220px;
	float:left}
	
#flightsearch .input-cal{ 
	background:#fff url(../image/date1.png) no-repeat 97% 1px; }

label{
	display:block; 
	font-family:"Comic Sans MS", cursive;
	color:#ccc;
	font-size:14px; 
	margin:0 0 5px; 
	}
	
#flightsearch  .search{ 
	position:absolute; 
	top:100px; 
	right:98px; 
	margin:0; 
	background:#F59738; 
	color:#fff; 
	font-weight:700; 
	border:0 none; 
	padding:10px 20px; 
	cursor:pointer; 
	border-radius:0; }
	
#flightsearch  .search:hover{ 
	background:#FAAC5F; }
	
#flightsearch .field{ 
	width:280px; 
	margin:0 60px 20px 0; 
	float:left; }

#flightsearch .field.half{ 
	width:120px; 
	margin-right:20px; } 

#flightsearch .field.even{ 
	margin-right:80px; } 
	
#flightsearch .field .input-text{ 
	width:260px; }

#flightsearch .field.half .input-text{ 
	width:120px; }
	




#wrapper {
	position:absolute;
	background:#F5F5FA;
	width:100%;
	height:100%;
	top: 113px;
	}
	
#Logintitle{
	position:relative;
	padding-left:150px;
	padding-top:20px;
	color:#3c445e;
	}
	
#LoginForm{
	position:relative;
	background-color:#FFF;
	width:1000px;
	height:300px;
	left:150px;
	padding-left: 2em;
	top: 20px;
	}	
	
#LoginForm .username{
	width:300px;
	height:30px;
	}

	
#LoginForm .password{
	width:300px;
	height:30px;
	}

#LoginForm .Loginlabel{
	font-family:"Comic Sans MS", cursive;
	font-size:10px;
	color:#666;
	padding-top:20px;
}

#LoginForm .secondary {
	margin:10px 0;
	font-size: 0.8em;
	line-height: 1.4;
	
}
#LoginForm a{
	color: #3c445e;
    margin: 0;
	text-decoration:none;
}

#LoginForm a:hover{
	color: #A39481;
    margin: 0;
	text-decoration:underline;
}


#loginform .loginbutton{
	position:relative;  
	margin-top:60px; 
	background:#F59738; 
	color:#fff; 
	font-weight:700; 
	border:0 none; 
	padding:10px 20px; 
	cursor:pointer; 
	border-radius:0; }
	
#loginform .loginbutton:hover{ 
	background:#FAAC5F; 
}

#RegisterForm{
	position:relative;
	background-color:#FFF;
	width:1000px;
	height:500px;
	left:150px;
	padding-left: 2em;
	top: 21px;
	}

#RegisterForm .firstname{
	width:300px;
	height:30px;
	}

#RegisterForm .lastname{
	width:300px;
	height:30px;
	}

#RegisterForm .email{
	width:300px;
	height:30px;
	}

#RegisterForm .password{
	width:300px;
	height:30px;
	}		

#RegisterForm .Registerlabel{
	font-family:"Comic Sans MS", cursive;
	font-size:10px;
	color:#666;
	padding-top:20px;
}


#registerform .registerbutton{
	position:relative;  
	margin-top:30px; 
	background:#F59738; 
	color:#fff; 
	font-weight:700; 
	border:0 none; 
	padding:10px 20px; 
	cursor:pointer; 
	border-radius:0; }
	
#registerform .registerbutton:hover{ 
	background:#FAAC5F; 
}


#searchflight{
	position:absolute;
	border-top-color:#CCC;
	border-top-style:solid;
	border-top-width:1px;
	width:100%;
	top: 110px;
	}
	
#searchflight #searchform{
	position:relative;
	padding-top:15px;
	padding-left:180px;
	
	}	
	
#searchflight  .searchbutton{ 
	position:absolute; 
	margin:0; 
	background:#F59738; 
	color:#fff; 
	font-weight:700; 
	border:0 none; 
	padding:10px 20px; 
	cursor:pointer; 
	border-radius:0; }
	
#searchflight  .searchbutton:hover{ 
	background:#FAAC5F; }
	

	
#searchflight .input-text{
	height:30px;
	width:210px;
	}

#searchflight .input-text input-cal{
	height:30px;
	width:210px;
	}	
#searchresult{
	position:absolute;
	width:710px;
	heitht:auto;
	top:251px;
	z-index:20px;
	left:432px;
	height: 156px;
}
 	
#ads{
	position:absolute;
	border-top:#CCC;
	border-style:dashed;
	width:206px;
	height:300px;
	left: 179px;
	top: 227px;
	
	}
	
#footer { 
	height:30px; 
	background:#ffffff;
    
}
