<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>SWE 3613 Project</display-name>
  <welcome-file>index.html</welcome-file>

  <listener>
    <listener-class>edu.spsu.swe3613.main.Main</listener-class>
  </listener>

  <servlet>
    <servlet-name>Reservations</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
        <param-name>com.sun.jersey.config.property.packages</param-name>
        <param-value>edu.spsu.swe3613.reservations;org.codehaus.jackson.jaxrs;</param-value>
    </init-param>
	<load-on-startup>3</load-on-startup>
   </servlet>
  <servlet-mapping>
    <servlet-name>Reservations</servlet-name>
    <url-pattern>/api/reservations</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
        <param-name>com.sun.jersey.config.property.packages</param-name>
        <param-value>edu.spsu.swe3613.login;org.codehaus.jackson.jaxrs;</param-value>
    </init-param>
	<load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

</web-app>
